footer {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: white;
  text-shadow: 2px 2px black;
}

footer a {
  color: white;
  text-shadow: 2px 2px black;
}

footer a:hover {
  color: grey;
}
