.welcome-visible {
  font-family: 'Oleo Script', cursive;
  min-height: 500px;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.welcome-invisible {
  display: none;
}

.welcome {
  font-size: 40px;
  margin: 20px 0;
}

.welcome-message {
  font-size: 30px;
}
