@import 'reset';
@import 'footer';
@import 'result';
@import 'title';
@import 'welcome';
@import url('https://fonts.googleapis.com/css?family=Oleo+Script|Righteous');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('images/akihabara.jpg');
  background-size: auto;
}

@media (max-width: 850px) {
  .result {
    width: 80%;
    min-height: 600px;
    position: relative;
  }
  .anime-image {
    width: 80%;
    height: 300px;
  }
  .quote-zone {
    margin: 10px 10% 20px 10%;
    font-size: 15px;
  }
  button {
    position: absolute;
    bottom: 0px;
    width: 25%;
    left: 37.5%;
  }
}

@media (max-width: 550px) {
  .anime-image {
    width: 80%;
    height: 250px;
  }
}
